<IfModule mod_mime.c>
    AddType image/webp  webp
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive on
    
    ExpiresByType image/gif "access plus 35 days"
    ExpiresByType image/png "access plus 35 days"
    ExpiresByType image/jpg "access plus 35 days"
    ExpiresByType image/jpeg "access plus 35 days"
    ExpiresByType image/webp "access plus 35 days"
</IfModule>

<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

# dorh detect original file date changed
# dorh  restore outcommenteds below

	# Redirect non-existing image cache requests to php
#	RewriteCond %{REQUEST_FILENAME} !-f
#	RewriteCond %{REQUEST_FILENAME} !-l [OR]
#	RewriteCond %{QUERY_STRING} ^([^&]*&)*reset=file
	RewriteRule .* swifty_crunch_img.php [NC,L]
</IfModule>
